@model IEnumerable<Turnos.Models.Medico>

<p>
    <a class="waves-effect waves-light btn-small" title="Agregar un Médico" asp-action="Create">Agregar Medico</a>
</p>
<table class="responsive-table highlight z-depth-3 blue lighten-5">
    <thead class="blue darken-1 white-text">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorarioAtencionDesde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorarioAtencionHasta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HorarioAtencionDesde)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HorarioAtencionHasta)
                </td>
                <td>
                    <a class="waves-effect waves-light btn-small blue darken-1" title="Editar Medico" asp-action="Edit" asp-route-id="@item.IdMedico">Editar</a><br/>
                    <a class="waves-effect waves-light btn-small light-green darken-2" title="Detalles del Medico" asp-action="Details" asp-route-id="@item.IdMedico">Detalles</a>
                    <a class="waves-effect waves-light btn-small red lighten-1" asp-action="Delete Medico" title="Eliminar" asp-route-id="@item.IdMedico">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>