@model IEnumerable<Turnos.Models.Paciente>

<p>
    <a class="waves-effect waves-light btn-small" title="Agregar Paciente" asp-action="Create">Agregar Paciente</a>
</p>
<table class="responsive-table highlight z-depth-3 blue lighten-5">
    <thead class="blue darken-1 white-text">
        <tr>
            <th>
                @Html.DisplayNameFor(modelo => modelo.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(modelo => modelo.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(modelo => modelo.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(modelo => modelo.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(modelo => modelo.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a class="waves-effect waves-light btn-small blue darken-1" asp-action="Edit" asp-route-id="@item.IdPaciente">Editar</a>
                    <a class="waves-effect waves-light btn-small light-green darken-2" asp-action="Details" asp-route-id="@item.IdPaciente">Detalle</a>
                    <a class="waves-effect waves-light btn-small red lighten-1" asp-action="Delete" asp-route-id="@item.IdPaciente">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>